<!DOCTYPE html>
<html id="todo">
<head>
  	<meta charset="UTF-8">
  	<title>To do List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

  	<link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">

	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.js"></script>

  	<script type="text/javascript">
		$("a").click(function() {
 		$("div").removeClass('in');
		});
	</script>
  
</head>
<body class="w3-light-grey">
	<div class="jumbotron">
    	<h1 class="text-center">Tarefas</h1>
	</div>
	<div class='container'>
		<div class="panel-group" id="funciona" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default">
    			<a class="collapsed no-text-decoration" role="button" data-toggle="collapse" data-parent="#funciona" href="#novatarefa" aria-expanded="false" >
	    			<div class="panel-heading bg-primary" role="tab" id="impressao001">
	        			<h4 class="panel-title">Cadastrar Nova Tarefa</h4>
	      			</div>
    			</a>
  			</div>
  			<div id="novatarefa" class="panel-collapse collapse">
        		<div class="panel-body">
					<div class="form-inline">
 						<div class="container">
        					<div class="row">
			          			<div class="form-group">
			          			    <div class="form-group">
			          			     	<input type="text" placeholder="Titulo" class="text-input" v-model="titulo">
    									<input type="text" placeholder="Texto" class="text-input" v-model="texto" v-on:keyup.enter="adicionarTarefa">
			          			    </div>
			          			    </div>
			          			</div>
							</div>
    					</div>
    				</div>
   				</div>
				<div class="drag-container">
					<ul class="drag-list">
						<li class="topicos w3-red w3-bottombar w3-pale-red w3-border-red col-md-3">
							<span class="drag-column-header">
								<h5>Pendentes</h5>
							</span>
							<ul class="drag-inner-list" id="1">
						        <li class="interno drag-item" v-for="tarefas in pendentes">
									<div class=".drag-options" id="1">
										{{ tarefas.texto }}<br>
										{{ tarefas.titulo }}<br>
										<button class="delete" v-on:click="removerTarefa(tarefa)">Apagar</button>
									</div>
								</li>
							</ul>
						</li>
						<li class="topicos w3-yellow w3-bottombar w3-pale-yellow w3-border-yellow col-md-3">
							<span class="drag-column-header">
								<h5>Em Andamento</h5>
							</span>
							<ul class="drag-inner-list" id="2">
								<div class="postit col-sm-12">
						        </div>
							</ul>
						</li>
						<li class="topicos w3-blue  w3-bottombar w3-pale-blue w3-border-blue col-md-3">
							<span class="drag-column-header">
								<h5>Aguardando Revisão</h5>
							</span>
							<ul class="drag-inner-list" id="3">
							</ul>
						</li>
						<li class="topicos w3-green w3-bottombar w3-pale-green w3-border-green col-md-3">
							<span class="drag-column-header">
								<h5>Concluídas</h5>

							</span>
							<ul class="drag-inner-list" id="4">
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<pre>{{ $pendentes }}</pre>
	<script src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/45226/dragula.min.js'></script>
    <script src="js/index.js"></script>

</body>
<script type="text/javascript">
new Vue({
  el: "#todo",
  data: {
    titulo: "",
    texto: "",
    pendentes: [],
  },
  methods: {
    adicionarTarefa: function() {
      var titulo = this.titulo.trim();
      var texto = this.texto.trim();
      if (titulo) {
        this.pendentes.push({
          texto: titulo,
          titulo: texto,
        });
        this.titulo = "";
        this.texto = "";
      }
    },
    removerTarefa: function(tarefa) {
      var index = this.pendentes.indexOf(tarefa);
      this.pendentes.splice(index, 1);
    }
  }, 
});

</script>
</html>
